exportPattern("^[[:alpha:]]+")
import(stringr)
import(ggplot2)
import(rnaturalearth)
import(rnaturalearthdata)
import("timeDate")
importFrom("stats", "aggregate")
importFrom("grDevices", "dev.off", "tiff")
importFrom("graphics", "legend")
import(MEDITS)
importFrom("utils", "read.csv")
importFrom("utils", "globalVariables")
importFrom("graphics", "par","text")
importFrom("utils", "write.table")
importFrom("grDevices", "dev.new", "graphics.off")
importFrom("graphics", "mtext")
