exportPattern("^[[:alpha:]]+")
import(timeDate)
import(stringr)
importFrom("stats", "aggregate")
importFrom("grDevices", "dev.off", "tiff")
importFrom("graphics", "legend")
import(MEDITS)
importFrom("utils", "read.csv")
importFrom("graphics", "par", "text")
importFrom("utils", "write.table")
importFrom("grDevices", "dev.new", "graphics.off")
importFrom("graphics", "mtext")
