.Rproj.user
.Rhistory
.RData
.Ruserdata
data TEST Neglia/Logfiles/Logfile_2020-06-17_time h16m38s38.dat
data TEST Neglia/Logfiles/Logfile_2020-06-17_time h16m41s10.dat
data TEST Neglia/Logfiles/Logfile_2020-06-17_time h16m43s14.dat
data TEST Neglia/Logfiles/Logfile_2020-06-17_time h16m46s10.dat
