exportPattern("^[[:alpha:]]+")
importFrom(rnaturalearth, ne_countries, ne_download)
importFrom(timeDate, timeDate, difftimeDate)
importFrom(zip, zip)
importFrom(stats, aggregate)
importFrom(grDevices, dev.off, tiff, pdf, dev.cur, dev.new, graphics.off, jpeg)
importFrom(graphics, legend, par, text, mtext)
importFrom(utils, read.csv, globalVariables, write.table)
importFrom(stringr, str_extract, str_length)
importFrom(ggplot2, aes, geom_point, geom_sf, ggplot, ggsave, ggtitle, theme,
           element_blank, element_rect, element_text, scale_fill_manual)
importFrom(graphics, lines)
importFrom(ggplot2, coord_sf)
import(rnaturalearthdata)
import(maps)
